<html>
<head>
<title>BI & MET Portal</title>
</head>
<body background="http://az616578.vo.msecnd.net/files/2016/05/28/6360000629960560481891922879_o-COLLEGE-facebook.jpg" >
<center>
<h1>Welcome To BI & MET Student Portal</h1>
<style>
h1{
  color: white
}
body{
  background-size: contain;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a href="http://localhost:3000/login"> <button type="button"> Login </button></a>

<a href="http://localhost:3000/signup"><button type="button"> Sign Up</button></a>




</center>


</body>
</html>
